# Dependencias
node_modules/

# Build de produccion
dist/

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache de editores y OS
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.vscode/
.idea/

# Cache de Vite
.vite/
